<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>

<form method="post">
	Email:<br>
    <input type="email" name="username" placeholder="account@gmail.com" required><br>
    Password:<br>
    <input type="password" name="password" placeholder="123456" required><br>
    First Name:<br>
    <input type="text" name="firstname" placeholder="John(required for register)"><br>
    Last Name:<br>
    <input type="text" name="lastname" placeholder="Doe(required for register)"><br>
    <input type="submit" value="Sign In" formaction="/login">
    <input type="submit" value="Register" formaction="/register">
</form>

</body>
</html>